@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h5>@ViewBag.text</h5>
    <h5>@ViewBag.Etext</h5>
    <h5>@ViewBag.Dtext</h5>

</div>
